<div class="row">
  <div class="span12">
    <h1>About</h1>
    <p class="lead">
      This is a stupid little web application. There is not much to say about it at all.
    </p>
    <p class="lead">
      Ingredients:
    </p>
    <ul class="lead">
      <li><a href="http://angularjs.org/">AngularJS</a></li>
      <li><a href="http://nodejs.org/">node.js</a></li>
      <li><a href="https://github.com/basti1302/storra">Storra</a></li>
      <li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
      <li><a href="http://glyphicons.com/">Glyphicons Free</a></li>
    </ul>
    <p class="lead">
      Now be a good boy (or girl) and go back to the list of <a href="#/audiobooks">audiobooks</a>.
    </p>
  </div>
</div>
