<div class="row">
  <div class="span12">
  <p>
    <div class="btn-group">
      <a href="#/audiobooks" class="btn"><i class="icon-arrow-left"></i> Back to list</a>
      <a ng-href="#/audiobooks/{{audiobook._id}}/edit" class="btn"><i class="icon-pencil"></i> Edit</a>
      <a href="#/audiobooks" class="btn" ng-click="delete(audiobook)"><i class="icon-remove"></i> Delete</a>
    </div>
  </p>
  </div>
</div>

<div class="row">
  <div class="span12">
  <h1>{{audiobook.title}}</h1>
  </div>
</div>

<div class="row">
  <div class="span6">
    <p>by {{audiobook.author.first_name + ' ' + audiobook.author.last_name}}</p>
    <p>read by {{audiobook.voice_artist.first_name + ' ' + audiobook.voice_artist.last_name}}</p>

    <dl>
      <dt>Publisher:</dt>
      <dd>{{audiobook.publisher}}</dd>
      <dt>Publication Date:</dt>
      <dd>{{audiobook.publication_date}}</dd>
      <dt>Language:</dt>
      <dd>{{audiobook.language}}</dd>
      <dt>ISBN-10:</dt>
      <dd>{{audiobook.isbn_10}}</dd>
      <dt>ISBN-13:</dt>
      <dd>{{audiobook.isbn_13}}</dd>
      <dt>ASIN:</dt>
      <dd>{{audiobook.asin}}</dd>
    </dl>

    <p>{{audiobook.description}}</p>
    <p>
      <a ng-href="http://www.amazon.com/dp/{{audiobook.asin}}" style="width:200px" class="btn btn-large"><i class="icon-shopping-cart"></i> Buy</a>
    </p>
  </div>
  <div class="span6">
    <img src="http://images.amazon.com/images/P/{{audiobook.asin}}.01._PC_SCLZZZZZZZ_.jpg"/>
  </div>
</div>
