<div class="row">
  <div class="span12">
    <form class="form-search">
      <!-- TODO We always fetch the whole list from the backend, no matter what - that's kinda stupid -->
      <label><span class="label" for="filter">Filter:</span></label>
      <input id="filter" type="text" placeholder="Search for audiobooks…" class="input-xlarge search-query" ng-model="query"/>
      <!-- TODO The search button never does anything because we always filter instantly on the client side - that's even more stupid -->
      <button type="submit" class="btn">Search <i class="icon-search" ></i></button>
      <a href="#/audiobooks/new" class="btn">Add Audiobook  <i class="icon-plus"></i></a>
    </form>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table id="list_audiobooks" class="table table-striped table-hover">
      <thead>
        <tr>
          <th><a href ng-click="setOrderBy('title')">Title <i ng-class="getOrderStyleClass('title')"/></a></th>
          <th><a href ng-click="setOrderBy('author.last_name')">Author <i ng-class="getOrderStyleClass('author.last_name')"/></a></th>
          <th><a href ng-click="setOrderBy('voice_artist.last_name')">Voice Artist <i ng-class="getOrderStyleClass('voice_artist.last_name')"/></a></th>
          <th><a href ng-click="setOrderBy('language')">Language <i ng-class="getOrderStyleClass('language')"/></a></th>
          <th style="width: 80px"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="audiobook in audiobooks | orderBy: getOrderBy() | filter:query">
          <td><a ng-href="#/audiobooks/{{audiobook._id}}">{{audiobook.title}}</a></td>
          <td>{{audiobook.author | person}}</td>
          <td>{{audiobook.voice_artist | person}}</td>
          <td>{{audiobook.language}}</td>
          <td><div class="btn-group">
            <a class="btn btn-small" ng-href="#/audiobooks/{{audiobook._id}}/edit"><i class="icon-pencil"></i></a>
            <button class="btn btn-small" ng-click="delete(audiobook)"><i class="icon-remove"></i></button>
          </div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
