<p><h1>List of Audiobooks</h1></p>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Author</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="audiobook in audiobooks">
      <td><a href="#/audiobooks/{{audiobook.id}}">{{audiobook.id}}</a></td>
      <td><a href="#/audiobooks/{{audiobook.id}}">{{audiobook.author.last_name + ', ' + audiobook.author.first_name}}</a></td>
      <td><a href="#/audiobooks/{{audiobook.id}}">{{audiobook.title}}</a></td>
    </tr>
  </tbody>
</table>